<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>(흐믓)</string>
		<key>imageName</key>
		<string>balloon_e01</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(방긋)</string>
		<key>imageName</key>
		<string>balloon_e02</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(우울)</string>
		<key>imageName</key>
		<string>balloon_e03</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(허얼)</string>
		<key>imageName</key>
		<string>balloon_e04</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(으악)</string>
		<key>imageName</key>
		<string>balloon_e05</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(화남)</string>
		<key>imageName</key>
		<string>balloon_e06</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(삐질)</string>
		<key>imageName</key>
		<string>balloon_e07</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(졸림)</string>
		<key>imageName</key>
		<string>balloon_e08</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(엉엉)</string>
		<key>imageName</key>
		<string>balloon_e09</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(궁금)</string>
		<key>imageName</key>
		<string>balloon_e10</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(버럭)</string>
		<key>imageName</key>
		<string>balloon_e11</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(허걱)</string>
		<key>imageName</key>
		<string>balloon_e12</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(하트)</string>
		<key>imageName</key>
		<string>balloon_e13</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(씨익)</string>
		<key>imageName</key>
		<string>balloon_e14</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(냉랭)</string>
		<key>imageName</key>
		<string>balloon_e15</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(메롱)</string>
		<key>imageName</key>
		<string>balloon_e16</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
	<dict>
		<key>keyword</key>
		<string>(부끄)</string>
		<key>imageName</key>
		<string>balloon_e17</string>
		<key>remoteUrl</key>
		<string>https://foo.com/bar</string>
	</dict>
</array>
</plist>
